body{
    margin: 0;
    font-family: 'Lato', sans-serif;

    font-size: 15px;
    line-height: 1.6;
    color: #fff;
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

/* Container */
.container {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}

/* Intro */
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;

    background: url("../images/intro.jpg") center no-repeat;
    background-size: cover;
}

.intro__inner {
    width: 100%;
    max-width: 580px;
    margin: 0 auto;
    text-align: center;
}

.intro__title {
    font-size: 54px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    line-height: 1.5;
}

.intro__subtitle {
    font-size: 15px;
    font-weight: 400;
    color: #fff;
}
